**/.DS_Store
**/__pycache__/**
**/*.pyc
build/**
builddir/**
*.o
*.mod
*.a
*.so
*.dylib
*.dll
*.exe
HVSWDpy*.so
HVSWDpy-f2pywrappers2.f90
HVSWDpymodule.c
fortranobject.c
fortranobject.h
examples/results/**
*.egg-info
dist/
